{#
/**
 * @file
 * Default theme implementation for the authenticated menu.
 *
 * Available variables:
 * - username: The username, can be a link.
 * - title: The title of the block.
 * - profile_link: A link to the user profile.
 * - links: The extra links as render array.
 * - logout_link: The logout link.
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass(['oidc-menu', 'oidc-menu--authenticated']) }}>
  <div class="toggle">
    {{ username|striptags }}
  </div>
  <div class="menu">
    {% if title is not empty -%}
      <h2>{{ title }}</h2>
    {%- endif %}

    <div class="username">{{ username }}</div>

    {% if profile_link is not empty -%}
      <div class="profile-link">{{ profile_link }}</div>
    {%- endif %}

    {% if links is not empty -%}
      <div class="links-wrapper">{{ links }}</div>
    {%- endif %}

    <div class="logout-link">{{ logout_link }}</div>
  </div>
</div>
