{#
/**
 * @file
 * Default theme implementation for the anonymous menu.
 *
 * Available variables:
 * - login_link: The login link.
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass(['oidc-menu', 'oidc-menu--anonymous']) }}>
  <div>{{ login_link }}</div>
</div>
